[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
account_constraint_fixed = "8inSy19nzg5sNawf35TryfVRxzjBtJYwaz8WuNfJ99Nb"
account_constraint_vulnerable = "9WHbb8dVjqxDrfAQQSVqiKSe1tdKmki8qvhAmd6HcnL2"
missing_account_constraints = "2MaMptD798VB1CEhiEnivraCnvofnoHKwvNQVzJHELc5"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
