[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
attacker_program = "EquV4CVyuUnoaWjAA8ZEQRNaRojnQJo3PoR3uPBBhau2"
unsafe_cpi_fixed = "GQLLDZkQ9YRed6cU2vGfxGE6QmMEmX5t5hTksnCJ4eGK"
unsafe_cpi_invocation = "2b1cRXKLGX3PGzXv2D1ZhWiDTuVLmU9UuoidKLs3YH26"
unsafe_cpi_vulnerable = "CrzaDexxpR8ARo2rPUiG9ExLmPXScQVoFstHquQshFv5"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
