[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
runtime_lamport_accounting_do_s_via_missing_cpi_accounts = "5nXgmC8gWLx9zA9zredHVJsV2ECz7BomWQf5uby8jRyA"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
